* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  max-width: 600px;
  font-family: @df-sans;
}

.row {
  .display-flex();
  padding-bottom: 5px;
  max-width: 400px;

  .name {
    .flex(0 0 135px);
    text-align: right;
    padding-right: 10px;
    font-size: 16px;
  }

  .bar-container {
    .flex(1);

    .bar-rent {
      float: left;
      background: @st-dark-red;
      height: 18px;

      &.affordable {
        background: @st-dark-green;
      }
    }

    .bar-other {
      float: left;
      background: @st-light-red;
      height: 18px;

      &.affordable {
        background: @st-light-green;
      }
    }
  }
}