* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  max-width: 600px;
  font-family: @df-sans;
  font-size: 14px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 15px;
  padding-bottom: 15px;
  font-family: @df-serif;
}

.toggle {
  padding-bottom: 10px;

  .toggle-label {
    padding-right: 3px;
    font-style: italic;
  }
}

.button {
  background: @df-light-gray;
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;

  &:hover {
    background: @df-border-gray;
  }

  &.selected {
    background: @df-dark-gray;
    color: white;
    cursor: default;
  }
}

.row {
  .display-flex();
  padding-bottom: 5px;
  max-width: 600px;

  &.flipping {
    transition: transform .5s ease-in-out .5s;
  }

  .header {
    font-weight: bold;
    font-size: 11px;
  }

  .name {
    .flex(0 0 98px);
    text-align: right;
    padding-right: 10px;
  }

  .rent {
    .flex(0 0 98px);
    text-align: center;
  }

  .minwage {
    .flex(0 0 53px);
    padding-left: 10px;
  }

  .bar-container {
    .flex(1);

    .bar {
      transition: width .5s linear, background .1s ease-in-out;
      float: left;
      height: 20px;
    }

    .bar.rent {
      background: @st-dark-red;

      &.affordable {
        background: @st-dark-green;
      }
    }

    .bar.other {
      background: @st-light-red;
      font-weight: bold;

      &.affordable {
        background: @st-light-green;
      }

      .percent-label {
        font-size: 13px;
        padding-left: 3px;
        padding-top: 2px;
      }
    }
  }
}

.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}

.source {
  padding-top: 6px;
}