* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  max-width: 620px;
  font-family: @df-sans;
  font-size: 14px;

  @media @mobile {
    font-size: 13px;
  }
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 15px;
  padding-bottom: 15px;
  font-family: @df-serif;

  div {
    padding-bottom: 10px;
  }

  .tiny {
    font-style: italic;
    font-size: 12px;
    padding-bottom: 0;
  }
}

.toggle {
  padding-bottom: 15px;

  .toggle-label {
    padding-right: 3px;
    font-style: italic;
  }
}

.button {
  background: @df-light-gray;
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;

  &:hover {
    background: @df-border-gray;
  }

  &.selected {
    background: @df-blue;
    color: white;
    cursor: default;
  }
}

.row {
  .display-flex();
  padding-bottom: 5px;
  // max-width: 500px;
  margin: auto;

  &.flipping {
    transition: transform .5s ease-in-out .5s;
  }

  .header {
    font-weight: bold;
    font-size: 11px;
    .display-flex();
    align-items: center;
    justify-content: center;

    @media @mobile {
      font-size: 10px;
    }
  }

  .name {
    .flex(0 0 103px);
    text-align: right;
    font-weight: bold;
    padding-right: 10px;

    @media @mobile {
      .flex(0 0 92px);
      padding-right: 5px;
    }
  }

  .rent {
    .flex(0 0 89px);
    text-align: center;

    @media @mobile {
      .flex(0 0 73px);
    }
  }

  .minwage {
    .flex(0 0 68px);
    text-align: center;

    @media @mobile {
      .flex(0 0 62px);
    }
  }

  .monthly {
    padding-left: 10px;
    .flex(0 0 98px);
    text-align: center;

    @media @mobile {
      display: none;
    }
  }

  .bar-container {
    .flex(1);

    &.header {
      text-align: center;
    }

    .bar {
      transition: width .5s linear, background .1s ease-in-out;
      float: left;
      height: 20px;
    }

    .bar.rent {
      background: @st-dark-red;

      &.affordable {
        background: @st-dark-green;
      }
    }

    .bar.other {
      background: @st-light-red;
      font-weight: bold;

      &.affordable {
        background: @st-light-green;
      }

      .percent-label {
        font-size: 13px;
        padding-left: 3px;
        padding-top: 2px;
      }
    }
  }
}

.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}

.source {
  padding-top: 6px;
}