<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>

  <body ng-app="minimum-wage">

    <div ng-controller="CityController" ng-cloak>
      <div class="title">What does $15/hr look like across America?</div>
      <div class="chatter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat leo vitae purus laoreet, nec porttitor dolor pellentesque. Cras tempor diam et sapien venenatis convallis. Etiam sit amet purus in eros aliquam efficitur. Aenean ut nunc eget felis vehicula consequat eu vel est.</div>

      Minimum wage:
      <span class="button" ng-click="setWhen('')">Current</span>
      <span class="button" ng-click="setWhen('15')">$15</span>
      <div class="row" ng-repeat="city in cities" flip>
        <div class="name">{{city.name}}</div>
        <div class="bar-container">
          <div class="bar rent" delayed-style="{ width: city['percent' + when] + '%' }" ng-class="{ affordable: city['percent' + when] < 30 }">
          </div>
          <div class="bar other" delayed-style="{ width: 100 - city['percent' + when] + '%' }" ng-class="{ affordable: city['percent' + when] < 30 }">
            <div class="percent-label">{{city['percent' + when].split(".")[0]}}%</div>
          </div>
        </div>
        <div class="info">
          ${{city.rent}}
          ${{city['minwage' + when]}}
        </div>
      </div>
    </div>

    <script>
      var cityData = <%= JSON.stringify(csv.minimum_wage_2015) %>
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
